<footer class="footer-area bg-fbf9f8">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a routerLink="/"><img src="assets/img/logo.png" alt="image"></a>
                    </div>
                    <p>Somos um startup que atua na área de marketing, design e T.I. com uma estratégia diferente.</p>
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/spotibiz.co/"><i class="icofont-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/spotbiz.co/"><i class="icofont-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Serviços</h3>
                    <ul class="services-list">
                        <li><a href="#">Marketing Digital</a></li>
                        <li><a href="#">Logo e Identidade Visual</a></li>
                        <li><a href="#">Sites e Loja Online</a></li>
                        <li><a href="#">Soluções em T.I.</a></li>
                        <li><a href="#">Consultoria Inteligente</a></li>
                        <li><a href="#">Implementação de CRM</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Links Úteis</h3>
                    <ul class="usefull-links">
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Portfólio</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contatos</h3>
                    <ul class="contact-list">
                        <li><span>Endereço:</span> Zona Sul, São Paulo - SP | Brasil</li>
                        <li><span>Site:</span> <a routerLink="/">spotbiz.co</a></li>
                        <li><span>E-mail:</span> <a href="mailto:criativo@spotbiz.co">criativo@spotbiz.co</a></li>
                        <li><span>Telefone:</span> <a href="tel:+5511976597142">+55 (11) 97659-7142</a></li>
                        <li><span>WhatsApp:</span> <a
                                href="https://api.whatsapp.com/send?phone=5511976597142&text=Oie%2C%20SpotBiz%20tava%20no%20site%20de%20voc%C3%AA%20e%20me%20interessei.%20Podem%20me%20ajudar%3F%20">+55
                                (11) 97659-7142</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><i class="icofont-copyright"></i> 2.021 - Designed by <a href="https://spotbiz.co/"
                            target="_blank">SpotBiz</a></p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="#">Termos e Condições</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top"><i class="icofont-stylish-up"></i></div>