<footer class="footer-area bg-fbf9f8">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a routerLink="/"><img src="assets/img/logo.png" alt="image"></a>
                    </div>
                    <p>Agcia have much planned for the future, working with great clients and continued software development. If you'd like to join our team, then we'd also love to hear from you.</p>
                    <ul class="social-links">
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>
                    <ul class="services-list">
                        <li><a href="#">Strategy & Research</a></li>
                        <li><a href="#">Reports & Analytics</a></li>
                        <li><a href="#">Managment & Marketing</a></li>
                        <li><a href="#">Infographics Content</a></li>
                        <li><a href="#">Media Promotion</a></li>
                        <li><a href="#">Content Marketing</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Usefull links</h3>
                    <ul class="usefull-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Team</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contacts</h3>
                    <ul class="contact-list">
                        <li><span>Adress:</span> 27 Division St, New York, NY 10002, USA</li>
                        <li><span>Website:</span> <a routerLink="/">agcia.com</a></li>
                        <li><span>Email:</span> <a href="mailto:hello@agcia.com">hello@agcia.com</a></li>
                        <li><span>Phone:</span> <a href="tel:+0321984754">+0 (321) 984 754</a></li>
                        <li><span>Fax:</span> <a href="tel:05215465478">+0 (521) 546 5478</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><i class="icofont-copyright"></i> 2020 Agcia. All Rights Reseverd by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top"><i class="icofont-stylish-up"></i></div>