<section class="error-area ptb-100">
    <div class="container">
        <div class="error">
            <h1>404</h1>
            <p>Não conseguimos encontrar essa página. Ela parece estar fora do sistema solar.</p>
            <form>
                <input type="text" class="form-control" placeholder="Nos diga o que está procurando...">
                <button type="submit" class="btn btn-primary"><i class="icofont-search-2"></i></button>
            </form>
        </div>
    </div>
</section>