<section class="working-process-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="section-title">
            <span>Como funciona?</span>
            <h3>Nossas Etapas</h3>
            <p>Fechar um serviço com a Spotbiz é simples. Você nos conta o que precisa, análisamos seu caso, você fecha o serviço e pronto. Começamos a desenvolver.</p>
            <a routerLink="/about" class="read-more-btn">Saiba Mais +</a>
        </div>

<section class="project-area ptb-100">
    <div class="container">
        <div class="shorting-menu text-center">
            <button class="filter" data-filter="all">All</button>
            <button class="filter" data-filter=".brand">Identidade Visual</button>
            <button class="filter" data-filter=".design">Logo</button>
            <button class="filter" data-filter=".graphic">Site</button>
            <button class="filter" data-filter=".photoshop">Desenvolvimento</button>
            <button class="filter" data-filter=".photoshop">Marketing</button>
            <button class="filter" data-filter=".photoshop">Mídia Kit</button>
            <button class="filter" data-filter=".photoshop">Blog</button>
            
        </div>
        <div class="shorting">
            <div class="row m-0">
                <div class="col-lg-6 col-md-6 col-sm-6 mix brand p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img1.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Souza Hig. de Estofados</h3>
                            <ul>
                                <li><a href="#">Logo</a></li>
                                <li><a href="#">Identidade Visual</a></li>
                            </ul>
                        </div>
                        <a routerLink="/souza" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img1.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 mix design p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img2.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Tattoo S.A.</h3>
                            <ul>
                                <li><a href="#">Site</a></li>
                                <li><a href="#">Desenvolvimento</a></li>
                            </ul>
                        </div>
                        <a routerLink="/tattoosa" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img2.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 mix graphic p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img3.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>OAJ Empreiteira</h3>
                            <ul>
                                <li><a href="#">Site</a></li>
                                <li><a href="#">Desenvolvimento</a></li>
                            </ul>
                        </div>
                        <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img3.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 mix photoshop p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img4.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Bimegah Limpeza</h3>
                            <ul>
                                <li><a href="#">Site</a></li>
                                <li><a href="#">Desenvolvimento</a></li>
                            </ul>
                        </div>
                        <a routerLink="/bimegah" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img4.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 mix design p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img5.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Blend Boutique</h3>
                            <ul>
                                <li><a href="#">Logo</a></li>
                                <li><a href="#">Identidade Visual</a></li>
                            </ul>
                        </div>
                        <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img5.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 mix illustrator p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img6.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Linekers Barberia</h3>
                            <ul>
                                <li><a href="#">Logo</a></li>
                                <li><a href="#">Identidade Visual</a></li>
                            </ul>
                        </div>
                        <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img6.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix illustrator p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img7.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Bem Me Quero</h3>
                            <ul>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Desenvolvimento</a></li>
                            </ul>
                        </div>
                        <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img7.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix illustrator p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img8.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Ateliê Íris</h3>
                            <ul>
                                <li><a href="#">Logo</a></li>
                                <li><a href="#">Identidade Visual</a></li>
                            </ul>
                        </div>
                        <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img8.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix illustrator p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img9.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Cavalo Cavalinho</h3>
                            <ul>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Mídia Kit</a></li>
                            </ul>
                        </div>
                        <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img9.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix illustrator p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img10.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Pri Pijamas</h3>
                            <ul>
                                <li><a href="#">Logo</a></li>
                                <li><a href="#">Identidade Visual</a></li>
                            </ul>
                        </div>
                        <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img10.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix illustrator p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img11.jpg" alt="work-img">
                        <div class="work-content">
                            <h3>Barbearia Zapata</h3>
                            <ul>
                                <li><a href="#">Site</a></li>
                                <li><a href="#">Desenvolvimento</a></li>
                            </ul>
                        </div>
                        <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
                        <a href="assets/img/work-img11.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-subscribe></app-subscribe>