<header class="top-header-area">


    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5">
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/spotibiz.co/" target="_blank"><i
                                class="icofont-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/spotbiz.co/" target="_blank"><i
                                class="icofont-instagram"></i></a></li>
                    <!--<li><a href="https://www.instagram.com/spotbiz.co/" target="_blank"><i
                                class="icofont-youtube-play"></i></a></li>-->
                </ul>
            </div>

            <div class="col-lg-7 col-md-7">
                <ul class="header-info">
                    <li><a routerLink="/about">Sobre</a></li>
                    <li><a routerLink="#">FAQ</a></li>
                    <li><a routerLink="/politica-de-privacidade">Política de Privacidade</a></li>

                </ul>
            </div>
        </div>
    </div>
</header>