<section class="working-process-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="section-title">
            <span>Como funciona?</span>
            <h3>Nossas Etapas</h3>
            <p>Fechar um serviço com a Spotbiz é simples. Você nos conta o que precisa, análisamos seu caso, você fecha o serviço e pronto. Começamos a desenvolver.</p>
            <a routerLink="/about" class="read-more-btn">Saiba Mais +</a>
        </div>

<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-phone"></i>
                    </div>
                    <div class="content">
                        <h3>WhatsApp</h3>
                        <p><a href="https://api.whatsapp.com/send?phone=5511976597142&text=Oie%2C%20SpotBiz%20tava%20no%20site%20de%20voc%C3%AA%20e%20me%20interessei.%20Podem%20me%20ajudar%3F%20">+55 (11) 97659-7142</a></p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-envelope"></i>
                    </div>
                    <div class="content">
                        <h3>E-mail</h3>
                        <p><a href="mailto:criativo@spotbiz.co">criativo@spotbiz.co </a></p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-google-map"></i>
                    </div>
                    <div class="content">
                        <h3>Localização</h3>
                        <p>Zona Sul, São Paulo <span>- SP | Brasil</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830926684!2d-74.1197636697327!3d40.69766374854729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e0!3m2!1sen!2sbd!4v1600755900376!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6">
                <div class="contact-text">
                    <h3>Estamos Juntos</h3>
                    <p>Estamos com você e sua empresa para alcançar resultados íncriveis. Somos uma agência startup exatamente porque pensamos e diferente.</p>
                    <p>Nossa sede fica na cidade de São Paulo, mas atendemos todo o planeta. Desde clientes da periferia de São Paulo até a Europa.</p>
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6">
                <form id="contactForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nome">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Fone ou WhatsApp">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-mail">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Mensagem"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<app-subscribe></app-subscribe>