<section class="working-process-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="section-title">
            <span>Como funciona?</span>
            <h3>Nossas Etapas</h3>
            <p>Fechar um serviço com a Spotbiz é simples. Você nos conta o que precisa, análisamos seu caso, você fecha o serviço e pronto. Começamos a desenvolver.</p>
            <a routerLink="/about" class="read-more-btn">Saiba Mais +</a>
        </div>

<section class="services-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-pie-chart"></i>
                    </div>
                    <h3>Marketing Digital</h3>
                    <p>Cresça nas redes sociais, segmente seu público, melhore seu perfil, campanhas do Google Adwords.</p>
                    <a href="/marketing-digital" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-chart-arrows-axis"></i>
                    </div>
                    <h3>Logo e Identidade Visual</h3>
                    <p>Criação de Logo profissional, redesedign de logos, papelaria e criação de identidade visual.</p>
                    <a href="/logo-identidade" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-rocket-alt-2"></i>
                    </div>
                    <h3>Sites e Loja Virtual</h3>
                    <p>Desenvolvimento de sites institucionais, análise de melhorias, lojas e ecommerce.</p>
                    <a href="/sites-lojas" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-chart-pie"></i>
                    </div>
                    <h3>Soluções em T.I.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="/solucoes" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-location-arrow"></i>
                    </div>
                    <h3>Consultoria Inteligente</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="/consultoria" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-live-support"></i>
                    </div>
                    <h3>SEO e Google Ads</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="/seo-ads" class="read-more-btn">Read More</a>
                </div>
            </div>

            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-location-arrow"></i>
                    </div>
                    <h3>Segurança da Informação</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="/seguranca" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-location-arrow"></i>
                    </div>
                    <h3>Implementação de CRM</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="/crm" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-location-arrow"></i>
                    </div>
                    <h3>Redes Sociais</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="/redes-sociais" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-location-arrow"></i>
                    </div>
                    <h3>Designer Gráfico</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="/designer-grafico" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-location-arrow"></i>
                    </div>
                    <h3>Copywriting</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="copywriting" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-location-arrow"></i>
                    </div>
                    <h3>Soluções Personalizadas</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.</p>
                    <a href="/solucoes" class="read-more-btn">LEIA MAIS +</a>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="analysis-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="analysis-form">
                    <h3>ANÁLISE RÁPIDA</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Nome*" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="E-mail*" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="WhatsApp*" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Site*" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Nome da Empresa*" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar</button>
                    </form>
                </div>
            </div>
            
            <div class="col-lg-7 col-md-12">
                <div class="analysis-text">
                    <span>Análise de Site</span>
                    <h3>Já tem um site e precisa de análise?</h3>
                    <p>Preencha o formulário que retornamos para você de forma rápida e com uma análise grátis do seu site:</p>
                    <ul>
                        <li>Vamos análisar como está o design do seu site. Se está bem desenvolvido visualmente.</li>
                        <li>Será que o seu site é uma boa experiência para o seu cliente? Um site não pode dar a impressão de que é um remendo ou que foi feito as pressas.</li>
                        <li>Agora vamos ver se o seu site tem as informações necessárias para que o cliente entre em contato de forma prática e se tem todos os canais de contato necessários.</li>
                        <li>Pronto, por fim faremos uma análise básica de SEO para saber se o site tem todas as informações, certificado SSL, termos de privacidade e cookies.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<app-subscribe></app-subscribe>
