<div class="page-title animatedBackground">
    <div class="container">
        <h3>Logo e Identidade Visual</h3>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li class="dot-divider"></li>
            <li>I.D. Souza Higienização</li>
        </ul>
    </div>
    <div class="bg-pattern"><img src="assets/img/bg-pattern-2.png" alt="pattern"></div>
</div>

<section class="project-details-area ptb-100">
    <div class="container">
        <div class="project-img">
            <img src="assets/img/identidade-visual-souza.png" alt="photo">
        </div>
        <div class="project-details">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <h3>Creative Design</h3>
                    <p>Llamcorper suscipit lobortis nisl ut aliquip ex ea commodo non habent claritatem insitamconsequat duis autem facilisis at vero eros nibh euismod tincidunt ut laoreet vel eum iriure Excepturi vero minima impedit aliquam id.</p>
                    <p>Consectetur adipisicing elit. Totam mollitia incidunt vero cupiditate obcaecati iusto tempora unde! Numquam officiis, quae adipisci quam laudantium nulla modi. adipisci quam laudantium nulla modi. Totam mollitia incidunt vero cupiditate obcaecati</p>
                    <ul class="features">
                        <li>Design must be functional</li>
                        <li>Aenean pellentesque elit vitae</li>
                        <li>Futionality must translated into</li>
                        <li>Phasellus eget purus id felis</li>
                        <li>Design must be functional</li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-5">
                    <div class="project-info">
                        <ul>
                            <li>
                                <i class="icofont-ui-user"></i>
                                <span>Cliente</span>
                                John Doe
                            </li>

                            <li>
                                <i class="icofont-laptop-alt"></i>
                                <span>Criado por</span>
                                SpotBiz
                            </li>

                            <li>
                                <i class="icofont-checked"></i>
                                <span>Projeto Entregue</span>
                                January 23, 2020
                            </li>

                            <li>
                                <i class="icofont-map-pins"></i>
                                <span>Localização</span>
                                27 Division St, New York, NY 10002, USA
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="section-title">
            <span>Trabalhos Recentes</span>
            <h3>Você pode se interessar por esses projetos</h3>
            <p>Veja abaixo outros projetos que possam te interessar e que foram feitos com profissionalismo e carinho.</p>
            <a routerLink="/projects-2" class="read-more-btn">Ver mais projetos +</a>
        </div>
    </div>
        
    <div class="project-slides owl-theme owl-carousel">
        <div class="single-work">
            <img src="assets/img/work-img1.jpg" alt="work-img">
            <div class="work-content">
                <h3>Souza Hig. de Estofados</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img1.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
    
        <div class="single-work">
            <img src="assets/img/work-img2.jpg" alt="work-img">
            <div class="work-content">
                <h3>Tattoo S.A.</h3>
                <ul>
                    <li><a href="#">Site</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img2.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
    
        <div class="single-work">
            <img src="assets/img/work-img3.jpg" alt="work-img">
            <div class="work-content">
                <h3>OAJ Empreiteira</h3>
                <ul>
                    <li><a href="#">Site</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img3.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
    
        <div class="single-work">
            <img src="assets/img/work-img4.jpg" alt="work-img">
            <div class="work-content">
                <h3>Bimegah Limpeza</h3>
                <ul>
                    <li><a href="#">Site</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img4.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
    
        <div class="single-work">
            <img src="assets/img/work-img5.jpg" alt="work-img">
            <div class="work-content">
                <h3>Blend Boutique</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img5.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
    
        <div class="single-work">
            <img src="assets/img/work-img6.jpg" alt="work-img">
            <div class="work-content">
                <h3>Linekers Barberia</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img6.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
    
        <div class="single-work">
            <img src="assets/img/work-img7.jpg" alt="work-img">
            <div class="work-content">
                <h3>Bem Me Quero</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img7.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img8.jpg" alt="work-img">
            <div class="work-content">
                <h3>Ateliê Íris</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img8.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
        <div class="single-work">
            <img src="assets/img/work-img9.jpg" alt="work-img">
            <div class="work-content">
                <h3>Cavalo Cavalinho</h3>
                <ul>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Mídia Kit</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img9.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img10.jpg" alt="work-img">
            <div class="work-content">
                <h3>Pri Pijamas</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img10.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img11.jpg" alt="work-img">
            <div class="work-content">
                <h3>Barbearia Zapata</h3>
                <ul>
                    <li><a href="#">Site</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img11.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
    </div>
</section>


<app-subscribe></app-subscribe>
