<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="hero-content">
                            <h1 style="color: #494f65;">Startup em marketing digital, consultoria e implementações
                                em T.I.</h1>
                            <p>Tudo o que você precisa em marketing digital e para redes sociais , design gráfico,
                                consultoria e implementações em tecnologia para sua empresa.</p>
                            <!--<a routerLink="/contato" class="btn btn-primary">Vamos Começar</a>-->
                            <!--<a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn">Assistir<i
                                    class="icofont-play-alt-3"></i></a>-->
                        </div>
                    </div>
                    <div _ngcontent-esk-c16="" class="col-lg-5 col-md-12">
                        <div _ngcontent-esk-c16="" class="analysis-form">
                            <!--<h3 _ngcontent-esk-c16="">ANÁLISE RÁPIDA</h3>-->
                            <form _ngcontent-esk-c16="">
                                <div _ngcontent-esk-c16="" class="form-group"><input _ngcontent-esk-c16="" type="text"
                                        placeholder="Nome*" class="form-control"></div>
                                <div _ngcontent-esk-c16="" class="form-group"><input _ngcontent-esk-c16="" type="email"
                                        placeholder="E-mail*" class="form-control"></div>
                                <div _ngcontent-esk-c16="" class="form-group"><input _ngcontent-esk-c16="" type="tel"
                                        placeholder="WhatsApp*" class="form-control"></div>
                                <div _ngcontent-esk-c16="" class="form-group"><input _ngcontent-esk-c16="" type="text"
                                        placeholder="Nome da Empresa*" class="form-control"></div>
                                <button _ngcontent-esk-c16="" type="submit" class="btn btn-primary">Iniciar</button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="circle-pattern-1"></div>
</div>

<section class="working-process-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="section-title">
            <span>Como funciona?</span>
            <h3>Nossas etapas</h3>
            <p>Fechar um serviço com a Spotbiz é simples. Você nos conta o que precisa, análisamos seu caso, você fecha
                o serviço e pronto. Começamos a desenvolver.</p>
            <a routerLink="/aspotbiz" class="read-more-btn">Como surgiu a SpotBiz</a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="single-work-process">
                    <div class="icon">
                        <i class="icofont-read-book"></i>
                    </div>
                    <h3>Análise e Proposta</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="single-work-process">
                    <div class="icon">
                        <i class="icofont-light-bulb"></i>
                    </div>
                    <h3>Serviço Fechado</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="single-work-process">
                    <div class="icon">
                        <i class="icofont-mathematical"></i>
                    </div>
                    <h3>Desenvolvimento</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-3">
                <div class="single-work-process">
                    <div class="icon">
                        <i class="icofont-laptop-alt"></i>
                    </div>
                    <h3>Entrega do Projeto</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services-area bg ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Trabalhamos com você</span>
            <h3>Sempre pensamos e entregamos o melhor resultado!</h3>
            <p>Atendemos todos os tipos de empresas e pessoas físicas e para cada perfil temos um atendimento e serviço
                personalizado e por isso nossos resultados são incriveis.</p>
            <a routerLink="/servicos" class="read-more-btn">Conheça todos os nossos serviços</a>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-pie-chart"></i>
                    </div>
                    <h3>Marketing Digital</h3>
                    <p>Cresça nas redes sociais, segmente seu público, melhore seu perfil, campanhas do Google Adwords.
                    </p>
                    <a href="/marketing-digital" class="read-more-btn">Leia Mais +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-chart-arrows-axis"></i>
                    </div>
                    <h3>Logo e Identidade Visual</h3>
                    <p>Criação de Logo profissional, redesedign de logos, papelaria e criação de identidade visual.</p>
                    <a href="/logo-identidade" class="read-more-btn">Leia Mais +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-rocket-alt-2"></i>
                    </div>
                    <h3>Sites e Loja Virtual</h3>
                    <p>Desenvolvimento de sites institucionais, análise de melhorias, lojas e ecommerce.</p>
                    <a href="/sites-lojas" class="read-more-btn">Leia Mais +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-chart-pie"></i>
                    </div>
                    <h3>Soluções em T.I.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.
                    </p>
                    <a href="/solucoes" class="read-more-btn">Leia Mais +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-location-arrow"></i>
                    </div>
                    <h3>Consultoria Inteligente</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.
                    </p>
                    <a href="/consultoria" class="read-more-btn">Leia Mais +</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="icon">
                        <i class="icofont-live-support"></i>
                    </div>
                    <h3>SEO e Google Ads</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amet incididunt.
                    </p>
                    <a href="/seo-ads" class="read-more-btn">Leia Mais +</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="analysis-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="row align-items-center">
            <div class="hero-image">
                <img src="assets/img/hero-img.png" alt="hero-img">
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="analysis-text">
                    <span>Análise de Site</span>
                    <h3>Já tem um site e precisa de análise?</h3>
                    <p>Preencha o formulário que retornamos para você de forma rápida e com uma análise grátis do seu
                        site:</p>
                    <ul>
                        <li><i class="icofont-verification-check" style=" color:#e12e32; margin-right: 8px;"></i>Vamos
                            análisar como está o
                            design do
                            seu site. Se está bem desenvolvido visualmente.</li>
                        <li><i class="icofont-verification-check" style=" color:#e12e32; margin-right: 8px;"></i>Será
                            que o seu site é uma boa experiência para o seu cliente? Um site não pode dar a
                            impressão de que é um remendo ou que foi feito as pressas.</li>
                        <li><i class="icofont-verification-check" style=" color:#e12e32; margin-right: 8px;"></i>Agora
                            vamos ver se o seu site tem as informações necessárias para que o cliente entre em
                            contato de forma prática e se tem todos os canais de contato necessários.</li>
                        <li><i class="icofont-verification-check" style=" color:#e12e32; margin-right: 8px;"></i>Pronto,
                            por fim faremos uma análise básica de SEO para saber se o site tem todas as
                            informações, certificado SSL, termos de privacidade e cookies.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="section-title">
            <span>Trabalhos Recentes</span>
            <h3>Esses são alguns dos nossos trabalhos que mais gostamos</h3>
            <p>Essas são algumas das soluções que proporcionamos para nossos clientes. Projetos que gostamos de fazer.
            </p>
            <a routerLink="/projects-2" class="read-more-btn">Ver mais projetos +</a>
        </div>
    </div>

    <div class="project-slides owl-theme owl-carousel">
        <div class="single-work">
            <img src="assets/img/work-img1.jpg" alt="work-img">
            <div class="work-content">
                <h3>Souza Hig. de Estofados</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img1.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img2.jpg" alt="work-img">
            <div class="work-content">
                <h3>Tattoo S.A.</h3>
                <ul>
                    <li><a href="#">Site</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img2.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img3.jpg" alt="work-img">
            <div class="work-content">
                <h3>OAJ Empreiteira</h3>
                <ul>
                    <li><a href="#">Site</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img3.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img4.jpg" alt="work-img">
            <div class="work-content">
                <h3>Bimegah Limpeza</h3>
                <ul>
                    <li><a href="#">Site</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img4.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img5.jpg" alt="work-img">
            <div class="work-content">
                <h3>Blend Boutique</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img5.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img6.jpg" alt="work-img">
            <div class="work-content">
                <h3>Linekers Barberia</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img6.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img7.jpg" alt="work-img">
            <div class="work-content">
                <h3>Bem Me Quero</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img7.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img8.jpg" alt="work-img">
            <div class="work-content">
                <h3>Ateliê Íris</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img8.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
        <div class="single-work">
            <img src="assets/img/work-img9.jpg" alt="work-img">
            <div class="work-content">
                <h3>Cavalo Cavalinho</h3>
                <ul>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Mídia Kit</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img9.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img10.jpg" alt="work-img">
            <div class="work-content">
                <h3>Pri Pijamas</h3>
                <ul>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Identidade Visual</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img10.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>

        <div class="single-work">
            <img src="assets/img/work-img11.jpg" alt="work-img">
            <div class="work-content">
                <h3>Barbearia Zapata</h3>
                <ul>
                    <li><a href="#">Site</a></li>
                    <li><a href="#">Desenvolvimento</a></li>
                </ul>
            </div>
            <a routerLink="/projects-details" class="link-btn"><i class="icofont-link"></i></a>
            <a href="assets/img/work-img11.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
        </div>
    </div>
</section>

<section class="testimonial-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="section-title">
            <span>Depoimentos</span>
            <h3>Essa é a opinião dos nossos clientes</h3>
            <p>We enjoy adapting our strategies to offer every client the best solutions that are at the forefront of
                the industry.</p>
        </div>
        <div class="feedback-slides owl-carousel owl-theme">
            <div class="single-feedback">
                <div class="client-info">
                    <div class="img">
                        <img src="assets/img/client-avatar1.jpg" alt="client">
                    </div>
                    <h4>Josh Buttler</h4>
                    <span>Web Developer</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et
                    dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <i class="icofont-quote-right"></i>
            </div>

            <div class="single-feedback">
                <div class="client-info">
                    <div class="img">
                        <img src="assets/img/client-avatar2.jpg" alt="client">
                    </div>
                    <h4>David Andy</h4>
                    <span>Web Designer</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et
                    dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <i class="icofont-quote-right"></i>
            </div>

            <div class="single-feedback">
                <div class="client-info">
                    <div class="img">
                        <img src="assets/img/client-avatar3.jpg" alt="client">
                    </div>
                    <h4>Lina D'Souja</h4>
                    <span>QA Developer</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et
                    dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <i class="icofont-quote-right"></i>
            </div>

            <div class="single-feedback">
                <div class="client-info">
                    <div class="img">
                        <img src="assets/img/client-avatar1.jpg" alt="client">
                    </div>
                    <h4>Sarah Taylor</h4>
                    <span>Team Lead</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et
                    dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <i class="icofont-quote-right"></i>
            </div>

            <div class="single-feedback">
                <div class="client-info">
                    <div class="img">
                        <img src="assets/img/client-avatar2.jpg" alt="client">
                    </div>
                    <h4>John Smith</h4>
                    <span>Web Developer</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et
                    dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <i class="icofont-quote-right"></i>
            </div>

            <div class="single-feedback">
                <div class="client-info">
                    <div class="img">
                        <img src="assets/img/client-avatar3.jpg" alt="client">
                    </div>
                    <h4>Eva Lucy</h4>
                    <span>PHP Developer</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et
                    dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                <i class="icofont-quote-right"></i>
            </div>
        </div>
    </div>
    <!--Foguete-->
    <!--<div class="rocket fadeInUp wow slow"><img src="assets/img/rocket.png" alt="rocket"></div>
    <div class="vector"><img src="assets/img/vector-bg.png" alt="vector"></div>-->
</section>

<section class="funfacts-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-users-alt-5"></i>
                    <p>Clientes Atendidos:</p>
                    <h3><span class="odometer" data-count="200">00</span><span class="sign">+</span></h3>
                </div>
            </div>

            <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-rocket-alt-2"></i>
                    <p>Upgrades:</p>
                    <h3><span class="odometer" data-count="86">00</span><span class="sign">%</span></h3>
                </div>
            </div>

            <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-laptop-alt"></i>
                    <p>Projetos Entregues:</p>
                    <h3><span class="odometer" data-count="400">00</span><span class="sign">+</span></h3>
                </div>
            </div>

            <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-award"></i>
                    <p>Experiência:</p>
                    <h3><span class="odometer" data-count="35">00</span><span class="sign">+</span></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="section-title">
            <span>Nossos Preços</span>
            <h3>O preço é personalizado e de acordo com cada projeto.</h3>
            <p>Nossos valores são flexiveis e de acordo com a demanda de cada cliente.</p>
            <a routerLink="/pricing" class="read-more-btn">Ver Mais +</a>
        </div>

        <div class="tab-slider-nav">
            <ul class="tab-slider-tabs">
                <li class="tab-slider-trigger active" rel="monthly">Sites</li>
                <li class="tab-slider-trigger" rel="yearly">ID. Visual</li>
            </ul>
        </div>

        <div class="tab-slider-container">
            <div id="monthly" class="tab-slider-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Institucional</h3>
                                <div class="price-value">R$2K <span> /a partir</span></div>
                            </div>
                            <h4>Benefícios do Plano</h4>
                            <ul class="pricing-content">
                                <li>
                                    <p><i class="icofont-verification-check"></i> Perfeito p/ autonomos, MEI e peq.
                                        empresas</p>
                                </li>
                                <li>
                                    <p><i class="icofont-close"></i> <strike>Entregamos em até 30 dias</strike></p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Botão do WhatsApp</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Otimização de SEO</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Integração com Google Ads e Analytics
                                    </p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Hospedagem grátis por 6 meses</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Até 5 contas de e-mail</p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pricingTable border-vermelha">
                            <div class="pricingTable-header"
                                style="color: #ffffff; background-image: linear-gradient(to right, #d5161a, #dc3545);">
                                <h3 class="title" style="color: #ffffff;">Loja Virtual</h3>
                                <p style="color: #ffffff;">O mais vendido</p>
                                <div class="price-value" style="color: #ffffff;">R$3K <span style="color: #ffffff;"> /a
                                        partir</span></div>
                            </div>
                            <h4>Benefícios do Plano</h4>
                            <ul class="pricing-content">
                                <li>
                                    <p><i class="icofont-verification-check"></i> Perfeito p/ autonomos, MEI e peq.
                                        empresas</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Aceite pagamentos online</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Botão do WhatsApp</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Entregamos em até 40 dias</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Cadastro de até 49 produtos</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Integração com Google Ads e Analytics
                                    </p>
                                </li>
                                <li>
                                    <p><i class="icofont-close"></i> <strike>02 banners promocionais</strike></p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-sm-3 offset-md-3">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">PERSONALIZADO</h3>
                                <p>Sob medida</p>
                                <div class="price-value">CONSULTE</div>
                            </div>
                            <h4>Benefícios do Plano</h4>
                            <ul class="pricing-content">
                                <li>
                                    <p><i class="icofont-verification-check"></i> Perfeito para todos</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Atendimento prioritário</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Análise de Projeto</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Feito do Tamanho que precisar</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> CPainel Personalizado</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> Produtos e/ou serviços por demanda</p>
                                </li>
                                <li>
                                    <p><i class="icofont-verification-check"></i> E-mail e hospedagem por demanda</p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="yearly" class="tab-slider-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Partida</h3>
                                <div class="price-value">R$600 <span>/a partir</span></div>
                            </div>
                            <ul class="pricing-content">
                                <li>
                                    <p>Desenvolvimento de Logo</p>
                                </li>
                                <li>
                                    <p>Arte Cartão de Visita ou Tag</p>
                                </li>
                                <li>
                                    <p>Arte Folder ou Panfleto</p>
                                </li>
                                <li>
                                    <p>Arte Papel Timbrado</p>
                                </li>
                                <li>
                                    <p>Arte para Uniforme</p>
                                </li>
                                <li></li>
                                <li></li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Acelerador</h3>
                                <div class="price-value">R$850 <span>/a partir</span></div>
                            </div>
                            <ul class="pricing-content">
                                <li>
                                    <p>Desenvolvimento de Logo</p>
                                </li>
                                <li>
                                    <p>Arte Cartão de Visita ou Tag</p>
                                </li>
                                <li>
                                    <p>Arte Folder e Panfleto</p>
                                </li>
                                <li>
                                    <p>Arte Papel Timbrado</p>
                                </li>
                                <li>
                                    <p>Arte Uniforme</p>
                                </li>
                                <li>
                                    <p>Arte Capa Facebook</p>
                                </li>
                                <li>
                                    <p>Arte Banner ou Adeviso p/ Veículo</p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 offset-sm-3 offset-lg-0 offset-md-3">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Interestelar</h3>
                                <div class="price-value">CONSULTE</div>
                            </div>
                            <ul class="pricing-content">
                                <li>
                                    <p>Desenvolvimento de Logo</p>
                                </li>
                                <li>
                                    <p>Criação de artes para mídia impressa e</p>
                                    <p>digital e variações, conforme a necessidade</p>
                                    <p>do cliente</p>
                                </li>
                                <li>
                                    <p>Amostras sob Demanda</p>
                                </li>
                                <li>
                                    <p>Atendimento Prioritário</p>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Foguete-->
    <!--<div class="rocket fadeInUp wow slow"><img src="assets/img/rocket.png" alt="rocket"></div>-->
</section>


<div class="partner-area ptb-100 pt-0 bg-fbf9f8" style="border-top: none;">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-1.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-2.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-3.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-4.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-5.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-6.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-1.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-2.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-3.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-4.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-5.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="assets/img/partner-6.png" alt="partner"></a>
            </div>
        </div>
    </div>
    <!--<div class="vector"><img src="assets/img/vector-bg.png" alt="vector"></div>-->
</div>

<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Nossas Notícias</span>
            <h3>Conteúdo Gratuito</h3>
            <p>Fazemos alguns conteúdos gratuitos em marketing, consultoria, vendas, tecnologia, segurança da informação
                cloud computing, aplicações, design gráfico, agência, startups e muito mais.</p>
            <a routerLink="/blog-1" class="read-more-btn">Ver todo o conteúdo</a>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-repair-blog-post">
                    <div class="blog-image">
                        <a routerLink="#"><img src="assets/img/blog-one.jpg" alt="image"></a>
                        <div class="tags"><a href="#">Sites</a></div>
                    </div>

                    <div class="blog-content">
                        <h3><a routerLink="#">Mandamentos do site. O que não pode faltar em um site?</a></h3>
                        <ul>
                            <li>Fevereiro 08, 2021</li>
                            <li>by: <a href="#">SpotBiz</a></li>
                            <li><a routerLink="#" class="read-more-btn">Leia Mais +</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-repair-blog-post">
                    <div class="blog-image">
                        <a routerLink="#"><img src="assets/img/blog-two.jpg" alt="image"></a>
                        <div class="tags"><a href="#">Consultoria | Vendas</a></div>
                    </div>

                    <div class="blog-content">
                        <h3><a routerLink="#">Como vender melhor o seu produto ou serviço...</a></h3>
                        <ul>
                            <li>Janeiro 30, 2021</li>
                            <li>by: <a href="#">SpotBiz</a></li>
                            <li><a routerLink="#" class="read-more-btn">Leia Mais +</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-repair-blog-post">
                    <div class="blog-image">
                        <a routerLink="#"><img src="assets/img/blog-three.jpg" alt="image"></a>
                        <div class="tags"><a href="#">Consultoria | Tecnologia</a></div>
                    </div>

                    <div class="blog-content">
                        <h3><a routerLink="#">Por que preciso de um CRM?</a></h3>
                        <ul>
                            <li>Janeiro 15, 2021</li>
                            <li>by: <a href="#">SpotBiz</a></li>
                            <li><a routerLink="#" class="read-more-btn">Leia Mais +</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-subscribe></app-subscribe>