<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" alt="image"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a routerLink="/" class="nav-link">HOME</a>
                </li>

                <li class="nav-item"><a routerLink="/servicos" class="nav-link">SERVIÇOS</a>
                    <!--<ul class="dropdown-menu">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/services-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Services Details</a></li>
                    </ul>-->
                </li>

                <li class="nav-item"><a routerLink="/projetos" class="nav-link">PROJETOS</a>
                </li>

                <li class="nav-item"><a routerLink="/pacotes" class="nav-link">PACOTES</a>
                </li>

                <li class="nav-item"><a routerLink="/blog" class="nav-link">NEWS</a>
                </li>

                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/contato" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">CONTATO</a></li>
            </ul>

            <div class="others-option">
                <div class="lang-switcher">
                    <!--<select>
                        <option>Pt-Br</option>
                        <option>En</option>
                    </select>-->
                </div>

                <div class="others-option">
                    <span><b>LIGUE (11) 99999-9999 OU CHAME NO</b></span> <a href="tel:https://api.whatsapp.com/send?phone=5511976597142&text=Oie%2C%20SpotBiz%20tava%20no%20site%20de%20voc%C3%AA%20e%20me%20interessei.%20Podem%20me%20ajudar%3F%20"><a> </a><i class="icofont-whatsapp"></i></a>
                </div>

                <div class="modal-taggle-button">
                    <a href="#" data-toggle="modal" data-target="#sidebarModal"><span></span></a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal right fade sidebarModal" id="sidebarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="logo"><a routerLink="/"><img src="assets/img/logo.png" alt="logo"></a></div>
                <p><b>Porque marketing não precisa ser tudo igual!</b></p>
                <ul class="modal-contact-info">
                    <li><i class="icofont-google-map"></i> <strong>São Paulo</strong></li>
                    <li><i class="icofont-ui-call"></i> <strong>(11) 97659-7142</strong></li>
                    <li><i class="icofont-envelope"></i> <strong>criativo@spotbiz.co</strong></li>
                </ul>
                <ul class="social-links">
                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                    <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                    <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>