<div class="page-title animatedBackground">
    <div class="container">
        <h3>Preços</h3>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li class="dot-divider"></li>
            <li>Preços</li>
        </ul>
    </div>
    <div class="bg-pattern"><img src="assets/img/bg-pattern-2.png" alt="pattern"></div>
</div>

<section class="pricing-area ptb-100 bg-fbf9f8">
    <div class="container">
       
        <div class="tab-slider-nav">
            <ul class="tab-slider-tabs">
                <li class="tab-slider-trigger active" rel="monthly">Sites</li>
                <li class="tab-slider-trigger" rel="yearly">ID. Visual</li>
            </ul>
        </div>
    
        <div class="tab-slider-container">
            <div id="monthly" class="tab-slider-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Institucional</h3>
                                <div class="price-value">R$2K <span> /a partir</span></div>
                            </div>
                            <ul class="pricing-content">
                                <li><p>Perfeito p/ autonomos, MEI e peq. empresas</p></li>
                                <li><p>Entregamos em até 30 dias</p></li>
                                <li><p>Botão do WhatsApp</p></li>
                                <li><p>Otimização de SEO</p></li>
                                <li><p>Integração com Google Ads e Analytics</p></li>
                                <li><p>Hospedagem grátis por 6 meses</p></li>
                                <li><p>Até 5 contas de e-mail</p></li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Loja Virtual</h3>
                                <div class="price-value">R$3K <span> /a partir</span></div>
                            </div>
                            <ul class="pricing-content">
                                <li><p>Perfeito p/ autonomos, MEI e peq. empresas</p></li>
                                <li><p>Aceite pagamentos online</p></li>
                                <li><p>Botão do WhatsApp</p></li>
                                <li><p>Entregamos em até 40 dias</p></li>
                                <li><p>Cadastro de até 49 produtos</p></li>
                                <li><p>Integração com Google Ads e Analytics</p></li>
                                <li><p>02 banners promocionais</p></li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-sm-3 offset-md-3">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">PERSONALIZADO</h3>
                                <div class="price-value">CONSULTE</div>
                            </div>
                            <ul class="pricing-content">
                                <li><p>Perfeito para todos</p></li>
                                <li><p>Atendimento prioritário</p></li>
                                <li><p>Análise de Projeto</p></li>
                                <li><p>Feito do Tamanho que precisar</p></li>
                                <li><p>CPainel Personalizado</p></li>
                                <li><p>Produtos e/ou serviços por demanda</p></li>
                                <li><p>E-mail e hospedagem por demanda</p></li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="yearly" class="tab-slider-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Partida</h3>
                                <div class="price-value">R$600 <span>/a partir</span></div>
                            </div>
                            <ul class="pricing-content">
                                <li><p>Desenvolvimento de Logo</p></li>
                                <li><p>Arte Cartão de Visita ou Tag</p></li>
                                <li><p>Arte Folder ou Panfleto</p></li>
                                <li><p>Arte Papel Timbrado</p></li>
                                <li><p>Arte para Uniforme</p></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Acelerador</h3>
                                <div class="price-value">R$850 <span>/a partir</span></div>
                            </div>
                            <ul class="pricing-content">
                                <li><p>Desenvolvimento de Logo</p></li>
                                <li><p>Arte Cartão de Visita ou Tag</p></li>
                                <li><p>Arte Folder e Panfleto</p></li>
                                <li><p>Arte Papel Timbrado</p></li>
                                <li><p>Arte Uniforme</p></li>
                                <li><p>Arte Capa Facebook</p></li>
                                <li><p>Arte Banner ou Adeviso p/ Veículo</p></li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 offset-sm-3 offset-lg-0 offset-md-3">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="title">Interestelar</h3>
                                <div class="price-value">CONSULTE</div>
                            </div>
                            <ul class="pricing-content">
                                <li><p>Desenvolvimento de Logo</p></li>
                                <li><p>Criação de artes  para mídia impressa e</p>
                                    <p>digital e variações, conforme a necessidade</p>
                                    <p>do cliente</p></li>
                                <li><p>Amostras sob Demanda</p></li>
                                <li><p>Atendimento Prioritário</p></li>
                            </ul>
                            <a href="#" class="btn btn-primary">Saiba Mais +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket fadeInUp wow slow"><img src="assets/img/rocket.png" alt="rocket"></div>
</section>

<app-subscribe></app-subscribe>